.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    width: 100%;
    overflow: hidden; /* Prevent scroll bars */
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.footer img {
    display: inline-block;
    height: 100px; /* Adjust as needed */
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
